@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dragon-hunters-green: #64BB8A;
  --dark-grey-dragon-hunters: #212D3E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --dragon-hunters-green: var(--dragon-hunters-green);
  --dark-grey-dragon-hunters: var(--dark-grey-dragon-hunters);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
